<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>217314848363-54o7ffmpcf8grn97vnbtpt848945etgt.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.217314848363-54o7ffmpcf8grn97vnbtpt848945etgt</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>217314848363-gj81uerbk07k8vi30nflkenbgbqb1l83.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyD_Yo32pnpocECXx0tOvu8PPWjAXVurogk</string>
	<key>GCM_SENDER_ID</key>
	<string>217314848363</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>id.cmg.sonus</string>
	<key>PROJECT_ID</key>
	<string>sonus-f5f62</string>
	<key>STORAGE_BUCKET</key>
	<string>sonus-f5f62.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:217314848363:ios:5bf7edfcddbcf682</string>
	<key>DATABASE_URL</key>
	<string>https://sonus-f5f62.firebaseio.com</string>
</dict>
</plist>